/** VARIABLES **/
:root {
  --main-bg-color: #f5f5f5;
}

/** GLOBALS **/
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  display: grid;
  font-family: 'Arial', sans-serif;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

header {
  background-color: coral;
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  text-align: center;
}

main {
  background-color: var(--main-bg-color);
}

h1 {
  background-color: lightblue;
  font-size: 18px;
  font-weight: normal;
  padding: 10px;
  text-align: center;
}

label {
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}

input,
textarea {
  border: 1px dotted lightblue;
  font-family: monospace;
  padding: 5px;
  resize: vertical;
}

button {
  padding: 2px 10px;
}

form button {
  display: block;
  margin: 10px auto;
  width: 100px;
}

h2 {
  font-size: 16px;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
}

footer {
  background-color: var(--main-bg-color);
  font-size: 13px;
  padding: 5px;
  text-align: center;
}

/** CLASSES **/
.form-section {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 10px 5px;
}

.form-section > * {
  flex-basis: 50%;
}

.task {
  align-items: center;
  display: flex;
  height: 30px;
  justify-content: space-between;
  overflow-y: scroll;
}

.task:nth-of-type(2n) {
  background-color: #e0e0e0;
}

.task-bar {
  background-color: darkgray;
  border-right: 1px solid black;
  display: block;
  height: 100%;
  width: 5px;
}

.task-bar-desc {
  background-color: forestgreen;
}

.task-title,
.task-desc {
  margin: 0px;
}

.task-desc {
  align-self: flex-start;
  overflow-y: scroll;
  width: 50%;
}

/** IDS **/

@media all and (min-width: 500px) {
  /** GLOBALS **/

  /** CLASSES **/

  /** IDS **/
}

@media all and (min-width: 750px) {
  /** GLOBALS **/

  /** CLASSES **/
  .task-desc {
    align-self: inherit;
    overflow-y: hidden;
    width: inherit;
  }

  /** IDS **/
}

@media all and (min-width: 1020px) {
  /** GLOBALS **/

  /** CLASSES **/

  /** IDS **/
}

@media all and (min-width: 1400px) {
  /** GLOBALS **/

  /** CLASSES **/

  /** IDS **/
}

@media all and (min-width: 1860px) {
  /** GLOBALS **/

  /** CLASSES **/

  /** IDS **/
}
