/**
 * emojiweather/styles.css
 * The stylesheet for the 'emojiweather' project in the 'for-recruiters' repository.
 * © George Pickering 2019, https://github.com/tedjenkins
 */

/** VARIABLES **/

/** GLOBALS **/
form {
  margin: 20px auto;
  width: 80%;
}

form div {
  text-align: center;
}

/** CLASSES **/
.weather-box {
  align-items: center;
  display: grid;
  font-size: 15px;
  grid-template-areas:
    'date date'
    'icon temp'
    'icon cloudiness'
    'icon wind';
  margin: 10px;
  padding: 10px;
  text-align: right;
  width: 100%;
}

.weather-box-date {
  font-size: 18px;
  font-weight: bold;
  grid-area: date;
  text-align: center;
}

.weather-box-icon {
  font-size: 32px;
  grid-area: icon;
  text-align: center;
}

.weather-box-temp {
  grid-area: temp;
}

.weather-box-cloudiness {
  grid-area: cloudiness;
}

.weather-box-wind {
  grid-area: wind;
}

/** IDS **/
#site-weather-display {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media all and (min-width: 500px) {
  /** CLASSES **/
  .weather-box {
    flex: 0 1 400px;
    font-size: 18px;
  }

  /** IDS **/
  #site-weather-display {
    flex-flow: row wrap;
    justify-content: center;
  }
}

@media all and (min-width: 800px) {
}

@media all and (min-width: 1020px) {
}

@media all and (min-width: 1400px) {
}
