/**
 * tinyblog/src/styles.css
 * The stylesheet for the 'tinyblog' project in the 'for-recruiters' repository.
 * © George Pickering 2019, https://github.com/tedjenkins
 */

/** GLOBALS **/
footer {
  padding: 10px;
  text-align: center;
}

/** CLASSES **/

/** IDS **/
#no-blog-detected > * {
  margin: 5px 0px;
}
