/**
 * tinyblog/src/styles.css
 * The global stylesheet for the 'tinyblog' project in the 'for-recruiters' repository.
 * © George Pickering 2019, https://github.com/geopic
 */

/** SELECTORS **/

/** CLASSES **/
.clickable-div {
  background-color: skyblue;
  border: 1px solid lightblue;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px;
  user-select: none;
  width: auto;
}

/** IDS **/
